repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: check-ast
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.9"
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.7
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black]
      - id: nbqa
        args: ["ruff", "--fix", "--ignore=E402,B018,F704"]
        additional_dependencies: [jupytext, ruff]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.11.2"
    hooks:
      - id: mypy
        exclude: ipynb_filter.py|docs/source/conf.py
        additional_dependencies:
          - "types-python-dateutil"
